<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head}}
</head>

<body>
    <div id="preloader" class="visible"></div>
    <div class="body-wrapper">

        <div id="cursor">
            <svg class="play" width="75" height="75" viewBox="0 0 175 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70.5016 105.916L70.5714 68.867L102.621 87.4516L70.5016 105.916Z" stroke="#000"/>
                <circle cx="87.1859" cy="87.1859" r="86.6859" stroke="#000"/>
            </svg>
            <div class="prev">
                <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 2L14.7674 14.7674L2 27.5348" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="next">
                <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 2L14.7674 14.7674L2 27.5348" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        
        <div class="content">
            {{> header}}

            {{> body}}

            {{> footer}}
        </div>

    </div>
    {{> modal}}

    {{> scripts}}
</body>

</html>