<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="assets/css/locomotive-scroll.min.css">
<link rel="stylesheet" href="assets/css/style.min.css">

<style>
    @font-face { 
        font-family: 'Styrene A LC';
        font-style: normal;
        font-display: swap;
        font-weight: 300;
        src: url('assets/fonts/StyreneALC-Light.woff') format('woff'),
            url('assets/fonts/StyreneALC-Light.woff2') format('woff2');
    }
    @font-face { 
        font-family: 'Styrene A LC';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url('assets/fonts/StyreneALC-Regular.woff') format('woff'),
            url('assets/fonts/StyreneALC-Regular.woff2') format('woff2');
    }
    @font-face { 
        font-family: 'Styrene A LC';
        font-style: normal;
        font-display: swap;
        font-weight: 500;
        src: url('assets/fonts/StyreneALC-Medium.woff') format('woff'),
            url('assets/fonts/StyreneALC-Medium.woff2') format('woff2');
    }
    
</style>

