<!-- <header class="header">
    <div class="container">
        <div class="header__inner">
            
            <a class="github" href="https://github.com/KochetovaKseniya" target="_blank">
                <svg>
                    <use xlink:href="assets/img/sprite.svg#github"></use>
                </svg>                                
            </a>
            <nav class="menu header__menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="text hover__text" href="#portfolio" data-scroll-to>Работы</a>
                        <span></span>
                    </li>
                    <li class="menu__item">
                        <a class="text hover__text" href="#contacts" data-scroll-to>Контакты</a>
                        <span></span>
                    </li>
                    <li class="menu__item">
                        <a class="text hover__text" href="#">En</a>
                        <span></span>
                    </li>
                    <li class="mode">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.9238 13.5762L21 10.5L17.9238 7.42377V3.07623H13.5762L10.5 0L7.42377 3.07623H3.07623V7.42377L0 10.5L3.07623 13.5762V17.9238H7.42377L10.5 21L13.5762 17.9238H17.9238V13.5762ZM10.5 16.0678V4.93217C13.5762 4.93217 16.0678 7.42377 16.0678 10.5C16.0678 13.5762 13.5762 16.0678 10.5 16.0678Z" fill="#E5E5E5"/>
                        </svg>
                    </li>
                </ul>
                <span class="menu__hover"></span>
            </nav>

        </div>
    </div>
</header> -->