<header class="header" data-scroll-section>
    <div class="container">
        <div class="header__inner">
            
            <a class="github" href="https://github.com/KochetovaKseniya" target="_blank">
                <svg>
                    <use xlink:href="assets/img/sprite.svg#github"></use>
                </svg>                                
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="text hover__text" href="#">Работы</a>
                        <span></span>
                    </li>
                    <li class="menu__item">
                        <a class="text hover__text" href="#">Контакты</a>
                        <span></span>
                    </li>
                    <li class="menu__item">
                        <a class="text hover__text" href="#">En</a>
                        <span></span>
                    </li>
                    <li class="mode">
                        <svg> 
                            <use xlink:href="assets/img/sprite.svg#mode"></use>
                        </svg> 
                    </li>
                </ul>
                <span class="menu__hover"></span>
            </nav>

        </div>
    </div>
</header>