<div class="modal" id="thanks">
    <div class="modal__block">
        <div class="modal__title">Чудово!</div>
        <div class="modal__text">Незабаром ми вам передзвонимо</div>
        <div class="modal__content">
            <a href="/" class="button text"><span>Дивитись портфоліо</span></a>
            <div class="modal__content--links">
                <p>або напишіть нам:</p>
                <a class="callback__social-link" href="#">
                    <svg><use xlink:href="assets/img/sprite.svg#whatsapp"></use></svg>
                </a>
                <a class="callback__social-link" href="#">
                    <svg><use xlink:href="assets/img/sprite.svg#telegram"></use></svg>
                </a>
                <a class="callback__social-link" href="#">
                    <svg><use xlink:href="assets/img/sprite.svg#bi_messenger"></use></svg>
                </a>
            </div>
        </div>
    </div>
</div>