@import 'vars';

/* reset START */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box !important;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    cursor: default;
}

span {
    cursor: default;
}

h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    @media screen and (min-width: $pc) {
        font-size: 50px;
    }
}

h3 {
    font-size: 20px;
    line-height: 25px;
    @media screen and (min-width: $pc) {
        font-size: 40px;
        line-height: 53px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    &:active {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none !important;
    }
    span {
        cursor: pointer;
    }
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: inherit;
    font-size: inherit;
}
button, input[type="submit"] {
    cursor: pointer;
}

button span {
    cursor: pointer;
}
button:disabled span {
    cursor: default;
}

hr {
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

::selection {
    background: $black; /* Safari */
    color: #fff;
}
::-moz-selection {
    background: $black; /* Firefox */
    color: #fff;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Styrene A LC';
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: $black;
    background: $milkGrey;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: $black;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    &.visible {
        opacity: 1;
        pointer-events: auto;
    }
}

.no-scroll {
    overflow: hidden;
}

.body-wrapper {
    position: relative;
    overflow: hidden !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

/* reset END */

.init {
    #chat {
        animation: fade-up 1s .2s ease-in-out;
        animation-fill-mode: forwards;
    }
    .header__inner .github.init {
        animation: fade-down 1s ease-in-out;
        animation-fill-mode: forwards;
    }
    .header__inner .menu {
        animation: fade-down 1s .1s ease-in-out;
        animation-fill-mode: forwards;
    }
    .main__subtitle {
        animation: fade-up 1s .4s ease-in-out;
        animation-fill-mode: forwards;
    }
    .main__title {
        animation: fade-up 1s .2s ease-in-out;
        animation-fill-mode: forwards;
    }
    .main__circle--elem {
        animation: fade-up 1s .2s ease-in-out;
        animation-fill-mode: forwards;
    }
    .mockup__inner {
        animation: fade-up 1s .5s ease-in-out;
        animation-fill-mode: forwards;
    }
}

.container {
    padding: 0 24px;
    max-width: 1288px;
    margin: 0 auto;
    @media screen and (min-width: $pc) {
        padding: 0 16px;
    }
}

.title {
    font-weight: 500;
    font-size: 70px;
    line-height: 1;
    text-transform: uppercase;
    @media screen and (max-width: $pc) {
        font-size: 35px;
    }
}
.github {
    display: block;
    width: 42px;
    height: 40.3px;
    opacity: 0;
    &.init {
        opacity: 1
    }
    svg, img, picture {
        @extend %contain;
        fill: #E5E5E5;
    }
    @media screen and (max-width: $pc) {
        display: none;
    }
}
.mode {
    width: 21px;
    height: 30px;
    cursor: pointer;
    svg, img, picture {
        @extend %contain;
        fill: #E5E5E5;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        svg, img, picture {
            fill: #fff;
        }
    }
}
#chat {
    z-index: 10;
    width: 99px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    transition: all .3s;
    opacity: 0;

    span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        transform: scale(0);
        background: #fff;
        transition: all .3s linear;
    }
    .chat {
        width: 52px;
        height: 37px;
        position: relative;
        z-index: 1;
        object-fit: contain;
        &--main {
            fill: #fff;
        }
        &--black {
            fill: #000;
        }
        &--bg {
            stroke: transparent;
        }
        path {
            transition: all .05s;
        }
    }
    &:hover {
        background: #fff;
        .chat {
            &--main {
                fill: $black;
            }
        }
        .chat-tg {
            opacity: 1;
            fill: #fff;
        }
    }
    &.active {
        background: transparent !important;
        transition: all .4s;
        span {
            transform: scale(50);
        }
    }
    @media screen and (max-width: $pc) {
        display: none;
    }
}

.menu {
    display: block;
    font-weight: 400;
    position: relative;
    &__list {
        display: flex;
        margin: 0 -15px;
        @media screen and (max-width: $pc) {
            margin: 0;
        }
    }
    &__item {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        a {
            z-index: 2;
            height: 30px;
            display: block;
            padding: 1px 15px 4px;
            transition: all .3s;
            white-space: nowrap;
            &:hover {
                color: $black;
            }
        }
        span {
            background: #fff;
            position: absolute;
            width: 5px;
            height: 5px;
            display: block;
            transform: scale(0);
            transition: all .3s linear;
            border-radius: 30px;
            z-index: -1;
            opacity: 0;
            @media screen and (max-width: $pc) {
                display: none;
            }
        }
        &:last-of-type {
            color: rgba(190, 190, 190, 1);
        }
        &.active {
            color: #000;
            span {
                transform: scale(100);
                opacity: 1;
            }
        }
    }
    &__hover {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        height: 30px;
        width: 0;
        opacity: 0; //add edit
        transform: scale(0); 
        border-radius: 30px;
        background: #fff;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        &.init {
            opacity: 1; 
            transform: scale(1); //add edit
        }
        @media screen and (max-width: $pc) {
            display: none;
        }   
    }
}
.button {
    padding: 0 28px;
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content;
    height: 40px;
    span {
        font-weight: 400;
        line-height: 1;
        color: $black;
        z-index: 1;
        transition: all .3s cubic-bezier(0, 0.4, 0, 1);
    }
    &::before {
        content: '';
        width: 70px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(31, 31, 31, .05);
        border-radius: 50px;
        transition: all .6s cubic-bezier(0, 0.4, 0, 1);
    }
    &:hover {
        // span {
            //     color: #fff;
            // }
            &::before {
                width: 100%;
                background: $lightGrey;
                // background: rgba(31, 31, 31, 0.1);
                // background: #fff;
        }
    }
    &--dark {
        span {
            color: #fff;
        }
        &::before {
            background: rgba(#fff, .05);
        }
        &:hover {
            span {
                color: $black;
            }
            &::before {
                width: 100%;
                background: #fff;
            }
        }
    }
}

.arrow {
    position: relative;
    border-radius: 3px;
    background: $black;
    height: 3px;
    &::before, &::after {
        // content: '';
        content: unset;
        width: 34%;
        height: 100%;
        position: absolute;
        right: -1px;
        transform-origin: right;
        border-radius: 3px;
        background: $black;
    }
    &::before {
        bottom: -1px;
        transform: rotate(45deg);
    }
    &::after {
        top: -1px;
        transform: rotate(-45deg);
    }
}

#cursor {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    pointer-events: none;
    will-change: transform;
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -10px;
        top: -10px;
        border-radius: 50%;
        background: $black;
        transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .1s, background .1s;
    }
    &.slide-next {
        .next {
            display: block;
            z-index: 20;
            position: absolute;
            left: -5px;
            top: -13px;
            svg {
                width: 15px;
                height: 30px;
            }
        }
        &::before {
            transform: scale(3);
            z-index: 10;
        }
    }
    &.slide-prev {
        .prev {
            display: block;
            z-index: 20;
            position: absolute;
            left: -8px;
            top: -13px;
            svg {
                width: 15px;
                height: 30px;
            }
        }
        &::before {
            transform: scale(3);
            z-index: 10;
        }
    }
    .prev {
        display: none;
        svg {
            transform: rotate(-180deg);
        }
    }
    .next {
        display: none;
    }
    .play {
        display: none;
    }
    &.video {
        .play {
            display: block;
            position: absolute;
            left: -30px;
            top: -40px;
        }
        &::before {
            transform: scale(0);
        }
    }
    .phone, .teleg {
        display: none;
    }
    &.white::before {
        background: #fff;
    }
    &.hide::before {
        transform: scale(0);
    }
    &.big {
        // mix-blend-mode: difference;
        // isolation: isolate;
        
        z-index: 0;
        &::before {
            // mix-blend-mode: difference;
            // isolation: isolate;
            // background-color: #000;
            -webkit-filter: blur(0px); 
            filter: none;
            transform: scale(18.8);
        }
    }
    &.hover-work {
        &::before {
            opacity: 0;
        }
        .works__cursor {
            display: block;
        }
    }
    &.hover-menu {
        transform: scale(1.5);
        z-index: 100;
    }
    @media screen and (max-width: $pc) {
        display: none;
    }
}

.video {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 56.25%;
    }
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
    }
}

.header {
    padding: 72px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    color: #fff;
    @media screen and (max-width: $pc) {
        padding: 63px 0 0;
    }
    &.dark {
        color: $black;
        .menu__item {
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
        .menu__hover {
            background-color: $black;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            opacity: 0;
        }
        .menu {
            opacity: 0;
        }
        @media screen and (max-width: $pc) {
            display: block;
        }
    }
    &__menu {
        @media screen and (max-width: $pc) {
            .menu__list {
                justify-content: flex-end;
            }
            .menu__item {
                &:nth-of-type(1), 
                &:nth-of-type(2) {
                    display: none;
                }
            }
        }
    }
}

.main {
    height: 100vh;
    background: $black;
    color: $white;
    position: relative;
    overflow: hidden;
    &__inner {
        height: 100%;
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        max-width: 590px;
        text-transform: uppercase;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__subtitle {
        margin-top: 58px;
        max-width: 750px;
        font-size: 24px;
        line-height: 1;
        opacity: 0;
        letter-spacing: 1px;
    }
    &__link {
        width: fit-content;
        height: 50px;
        letter-spacing: 1px;
        opacity: 0;
        animation: fade-up 1s .6s ease-in-out;
        animation-fill-mode: forwards;
        &::before {
            width: 88px;
        }
        @media screen and (max-width: $pc) {
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &.first {
            position: absolute;
            bottom: 80px;
        }
        &--git {
            display: block;
            width: 42px;
            height: 40px;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            animation: fade-up 1s .6s ease-in-out;
            animation-fill-mode: forwards;
            z-index: 21;
            svg, img, picture {
                @extend %contain;
                fill: #E5E5E5;

            }
            &:hover {
                svg, img, picture {
                    fill: #fff;
                }
            }
            @media screen and (max-width: $pc) {
                display: none;
            }
        }
    }
    &__circle {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(25%, -50%);
        width: 732px;
        height: 582px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &--elem {
            display: block;
            height: 382px;
            width: 376px;
            opacity: 0;
        }
        svg {
            flex-shrink: 0;
            transition: all 0.4s ease-in-out;
            display: block;
            fill: #E5E5E5;
            @extend %contain;
        }
        &:hover svg {
            fill: #fff;
        }
        @media screen and (max-width: $pc) {
            display: none;
        }
    }
}

.case {
    background-color: $milk;
    color: #000;
    max-height: 700px;
    &__bottom {
        margin-top: 47px;
    }
    &__circle svg {
        fill: $black;
    }
    &__title {
        max-width: 790px;
    }
}

.mockup {
    padding-bottom: 122px;
    &__inner {
        opacity: 0;
    }
    &__preview {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        img, svg, video {
            @extend %contain;
        }
        &--bg {
            display: block;
            width: 980px;
            height: 680px;
        }
        &--img {
            width: 820px;
            height: 500px;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            img, video, svg {
                border-radius: 10px;
                object-fit: cover;
            }
        }
    }
    &__text {
        margin-top: 120px;
        span {
            font-family: 'Styrene A LC 500';
        }
    }
}

.slider {
    .swiper {
        position: relative;
    }
    &__item {
        height: 660px;
        img, svg, picture, video {
            @extend %cover;
        }
        &.center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img, svg, picture, video {
                width: 975px;
                height: 581px;
                border-radius: 10px;
            }
        }
    }
    &__prev,
    &__next {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 300px;
        height: 100%;
        z-index: 90;
    }
    &__next {
        left: unset;
        right: 0;
    }
}

.following {
    padding-top: 300px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__btn {
        display: flex;
        align-items: center;
        position: relative;
        &:hover {
            .following__elem {
                right: 0;
            }
        }
    }
    &__title {
        display: flex;
        align-items: center;
        font-family: 'Styrene A LC 500', sans-serif;
        font-size: 38px;
        line-height: 1;
        position: relative;
        z-index: 5;
        margin-right: 50px;        
        svg {
            margin-left: 15px;
            width: 46px;
        }
    }
    &__elem {
        display: block;
        background-color: #fff;
        width: 375px;
        height: 375px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        right: -50%;
        transition: all 0.8s ease-in-out;
    }
}

.works {
    padding: 104px 0;
    padding-bottom: 180px;
    @media screen and (max-width: $pc) {
        padding: 64px 0;
        padding-bottom: 120px;
    }
    .menu {
        width: fit-content;
    }
    &__menu {
        margin-left: -15px;
        color: #BEBEBE;
        display: flex;
        align-items: center;
        @media screen and (max-width: $pc) {
            flex-wrap: wrap;
        }
    }
    &__list {
        padding-top: 85px;
        display: none;
        grid-template-columns: auto auto;
        justify-content: space-between;
        &.active {
            display: grid;
        }
        @media screen and (max-width: $pc) {
            padding-top: 64px;
            grid-template-columns: 1fr;
            width: 100%;
            justify-content: center;
            row-gap: 64px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 590px;
        @media screen and (max-width: $pc) {
            width: 100%;
            max-width: 420px;
            margin-top: unset;
        }
        &:nth-of-type(2n) {
            margin-top: 220px;
            @media screen and (max-width: $pc) {
                margin-top: unset;
            }
        }
        &:nth-of-type(2n+1) {
            margin-top: -160px;
            @media screen and (max-width: $pc) {
                margin-top: unset;
            }
        }
        &:nth-of-type(1) {
            margin-top: unset;
        }
        &:nth-of-type(2) {
            margin-top: 382px;
            @media screen and (max-width: $pc) {
                margin-top: unset;
            }
        }
        &:hover {
            .works__item--cover {
                img, svg, picture {
                    transform: scale(1.09);
                }
            }
        }
        &--cover {
            display: block;
            height: 382px;
            width: 100%;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            img, svg, picture {
                @extend %cover;
                transition: all 0.4s ease-in-out;
            }
            @media screen and (max-width: $pc) {
                height: 220px;
            }
        }
        &--title {
            margin-top: 47px;
            font-size: 48px;
            line-height: 1;
            font-family: 'Styrene A LC 500';
            @media screen and (max-width: $pc) {
                margin-top: 20px;
                font-size: 36px;
            }
        }
        &--subtitle {
            margin-top: 17px;
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.footer {
    padding-bottom: 144px;
    @media screen and (max-width: $pc) {
        padding-bottom: 80px;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        display: block;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        flex-shrink: 0;
        width: 42.3px;
        height: 40.8px;
        font-weight: 400;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: $pc) {
            width: 32px;
            height: 34px;
            font-size: 18px;
        }
        svg, img, picture {
            @extend %contain;
        }
        &:hover {
            transform: scale(1.1);
        }
        &:first-of-type {
            margin-right: auto;
            display: flex;
            align-items: center;
        }
        &:last-of-type {
            margin-left: 36px;
            @media screen and (max-width: $pc) {
                margin-left: 16px;
            }
        }
    }
}

@import 'keyframes';